body 
{
    background-color: #CCC;
}
.selections 
{
    display: flex;
    justify-content: center;
}
.selection 
{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}
.selection:hover 
{
    transform: scale(1.2);
}
.results 
{
    margin-top: 1rem;
    display: grid;
    font-size: 2rem;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.result-score 
{
    margin-left: .1rem;
    font-size: 1rem;
    color: #333;
}
.result-selection 
{
    opacity: .5;
}
.result-selection.winner 
{
    opacity: 1;
    font-size: 3rem;
}
.winning-message 
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}
.winning-message button 
{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}
.winning-message button:hover 
{
    background-color: black;
    color: white;
    border-color: white;
}
.winning-message.show 
{
    display: flex;
}